@page
@model Blogging.Pages.Users.UsersModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Users</h1>

<table class="table">
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.Bio</td>
            <td>@user.Role</td>
        </tr>
    }
</table>

<p>@Model.Message</p>

